@model Unidad2Actividad2.Models.ViewModels.IndexViewModel
@{
    Layout = "MainLayout";
}
<section class="nav">
    <h3>ABC de Razas</h3>
    <nav>
        <a href="~/Home/Index">Todas</a>
        @foreach(var a in Model.LetraAbecedario){
           <a href="~/Home/Index/@a">@a</a>
        }
        <a href="~/Home/Paises">Listado por país</a>
    </nav>
</section>
<section class="list">
    <ul>
        @foreach(var p in Model.ListaPerros){
            <li>
                <a href="~/Raza/@p.Nombre.Replace(" ", "-")">
                <img src="imgs_perros/@(p.Id)_0.jpg">
                @p.Nombre
            </a>
           </li>
        }
    </ul>
</section>