
@{
    ViewData["Title"] = "Index";
}

<html>
	<head>
		<title>Información</title>
		<style>
			body{
				font-family:arial;
			}
			ul{
				list-style:none;
			}
		</style>
	</head>
	<body>
		<h1>Información:</h1>
		<ul>
			<li><b>Materia: </b>Programación Web</li>
			<li><b>Semestre: </b>7.2G</li>
			<li><b>Periodo: </b>AGO - DIC 2023</li>
			<li><b>Nombre: </b>Briseida Garcia Espinoza</li>
		</ul>
		<a href="~/Home/Perfil">Ver Perfil</a>
	</body>
</html>


