@model Unidad1Actividad2.Models.ConversionViewModel

<html>
<head>
    <title>Conversión de moneda</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        h2 {
            font-size: large;
        }

        html {
            background-color: greenyellow;
        }

        body {
            background-color: whitesmoke;
            padding: 20px;
        }

        button {
            font-size: medium;
            background-color: green;
            color: white;
            padding: 10px;
            font-weight: bolder;
        }
    </style>
</head>
<body>
    <h1>Conversión de moneda</h1>
    <h2>Haz una conversión de moneda entre pesos mexicanos(MXN) y dólares estadounidenses(USD) o al revés.</h2>

    <form method="post" action="/Home/Index">
        <label>Cantidad a convertir:</label>
        <input type="number" name="Cantidad" value="@Model.Cantidad" required />
        <label> a </label>
        <select name="Moneda">
            <option value="MXN" @(Model.Moneda == "MXN")>MXN</option>
            <option value="USD" @(Model.Moneda == "USD")>USD</option>
        </select>
        <br /><br />
        <button type="submit">Convertir</button>
        <p>La cantidad es: $ @Model.Resultado.ToString("0.00") </p>
    </form>
   
</body>
</html>