body{
    width: 60%;
    margin: 50px auto;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    background:linear-gradient(hotpink, white 80%);
    background-repeat: no-repeat;
    height: 100%;
}

.perfil{
    background-color: white;
    background-image: url(img/foto3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding: 30px;
    border: 1px solid #f0f0f0;
}

.perfil h1{
    font-size: x-large;
    margin: 0;
    font-weight: 600;
}

.perfil h2{
    font-size: large;
}

.perfil ul{
    list-style: none;
}

.perfil ul li{
    margin-bottom: 5px;
    font-size: medium;
}

.datos{
    background-color: white;
    text-align: center;
}

.datos p{
    background-color: #F0F0F0;
    padding: 10PX;
    text-align: justify;
    border-bottom: 1px solid #f0f0f0;

}


h1, h2{
    font-family: Arial;
    
}

a img{
    height: 40px;
}